<% if user_signed_in? %>
<div class="span8 highlight-conter">
<%= render @match %>
</div>
<div class="span3">
  <%= render 'home/profile_box' %>
</div>
<%= render 'home/test2' %>
<%= render 'home/activity' %>
<% else %>

<%= render 'home/test3' %>
<%= render 'home/people' %>
<%= render 'home/test' %>

<% end %>
<div class="span3">
  <%= render 'home/leaderboard' %>
</div>




