<div class="fields">
  <p>
    <%= f.label :name, "Team" %> <br />
    <%= f.text_field :name %>


    <%= f.link_to_remove "remove" %>

  </p>

  <%= f.fields_for :team_members  do |build| %>
    <%= render 'user_fields', :f => build %>

  <% end %>

  <p></p><%= f.link_to_add "Add User", :team_members %> </p>

</div>